.nav-image{
    height: 4rem;
}
.nav-link{
    font-size: 1.2rem;
    margin: 0 0.5rem;
}
.nav-link:Hover{
    color: rgba(255, 61, 61, 0.94);
}
.userProfile, .cartLogo{
    height: 3rem;
    background-blend-mode: normal;
    background-size: contain;
}
.speedDial {
  position: fixed;
  right: 1vmax;
  top: 1vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}