.nav-image{
    height: 4rem;
}
.nav-link{
    font-size: 1.2rem;
    margin: 0 0.5rem;
}
.nav-link:Hover{
    color: rgba(255, 61, 61, 0.94);
}
.userProfile{
    height: 3rem;
}
.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  /* .displayProfile{
    margin-bottom: 0;
  } */